body {
  background-color: #171F22;
  color: #fff;
}

button { 
  outline: none;
}

.main {
  padding: 10px;

  .actions {
    position: fixed;
    z-index: 10;
    padding: 10px;
    background: #131a22;
    width: 100%;
    left: 0;
    top: 0;

    .btn {
      line-height: 30px;
      border: 1px solid rgba(255, 255, 255, .3);
      border-radius: 3px;
      background: none;
      color: #fff;
      width: 80px;
      text-align: center;
      margin-right: 10px;

      &:hover {
        background: rgba(255, 255, 255, .3);
      }
    }

    .howtouseBtn {
      margin-right: 50px;
    }
  }

  .guideCode {
    display: block;
    width: 500px;
    height: 80px;
    border: 1px solid #eee;
    resize: none;
    margin-top: 20px;
    border-radius: 3px;
    outline: none;
  }
}