body {
  background-color: #171F22;
  color: #fff;
}
.main {
  padding: 10px;

 .messageItem {
   position: relative;
   line-height: 30px;

   &.messageError {
    color: #f00;
   }

   &.messageWarn {
     color: #ffcc00;
   }

   .messageData {
     vertical-align: top;
   }

   .messageTime, .messageType {
     margin-right: 5px;
     vertical-align: top;
   }

   .react-json-view {
     line-height: 1;
   }
 } 

}