.messageList {
  margin-top: 50px;
  .messageItem {
    position: relative;
    line-height: 26px;
    font-size: 14px;

    .messageData {
      vertical-align: top;
    }

    .messageTime,
    .messageType,
    .messageOS,
    .messageBrowser {
      margin-right: 10px;
      vertical-align: top;
    }

    .react-json-view {
      line-height: 1;
    }
  }
}
